doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="images/door.png"/>
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v4.0.12.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  body
    block content
