body {
    padding: 0;
    margin: 0;
    font-family: 'Artifakt Element', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    background-color: white;
}

header {
    width: 500px;
    margin: auto;
}

header h1 {
    font-size: 22px;
    color: #5088fa;
    font-weight: 400;
    display: inline-block;
}

footer {
    font-size: 10px;
    background-color: white;
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    max-width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

a {
    color: #00B7FF;
}

main {
    display: block;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
}

main #rooms-header .room {
    background-color: transparent;
}
main #rooms-header .room .room-name, main #rooms-header .room .room-status {
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1;
}

main .room {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: #666;
    font-weight: 600;
    line-height: 1.4;
}
main .room:nth-child(even) {
    background-color: #e2e2e2;
}
main .room:hover {
    background-color: #d2d2d2;
}

main .room .room-number {
    display: inline-block;
    margin: 4px;
    padding: 4px;
}

main .room .room-name {
    display: inline-block;
    margin: 4px;
    padding: 4px;
}

main .room .room-status {
    display: inline-block;
    margin: 4px;
    padding: 4px;
    font-size: 10px;
    font-weight: 100;
}

main .room .room-status img {
    vertical-align: middle;
}